.splash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  text-align: center;
  background-color: #000; /* Set background color to black */
}

.splash-title {
  color: #fff; /* White text for better visibility on black background */
  font-weight: bold;
  font-size: 36px; /* Slightly increase font size */
}

.splash-description {
  color: #ccc; /* Light gray text */
  font-size: 18px; /* Keep a reasonable font size */
  width: 80%; /* Widen the description container */
  padding: 15px 0 30px 0; /* Adjust padding for better spacing */
}

.banner-splash {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-top: 20px; /* Add some top margin */
}

.image-splash {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.splash-button {
  background-color: var(--primary);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 1.3em;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.splash-button:hover {
  background-color: #0056b3; /* Darken the background color on hover */
}
